:root{
    --color1: #3D3D3D;
    --color2: #BBCE00;
    --color25: rgb(161, 246, 3);
    --color3: #E0BF00;
}

/* Хэдер */

header {
    background: var(--color1);
}

.nav-link {
    color: rgb(194, 194, 194);
}

.nav-link:hover {
    color: rgb(238, 238, 238);
}

.nav-link:active {
    color: white;
}

.nav-link:focus {
    color: white;
}

/* Фон */

.main-bg {
    background: var(--color1);
}

.seco-bg {
    background: #474747;
}

.op-bl-bg {
    background: rgba(0, 0, 0, .3);
}

/* nco */

.jumbotron {
    background-size: cover; 
    background-position: center; 
    padding: 0px 0px 54px 0px;
    color: #fff; 
    text-align: center; 
}

.jumbotron h1 {
    font-size: 3rem; 
}

.jumbotron p {
    margin-top: 54px;
    font-size: 1.5rem; 
}

.card-body {
    background-color: transparent; 
    color: #fff; 
}

.product-card {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent; 
    color: white;
    border: 2px solid #bbce00; 
    margin-bottom: 30px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.review-card {
    margin-top: 100px; 
}

